.service-wrapper {
    margin: 25px 0;

    .service {
        &:nth-child(2n) {
            flex-direction: row-reverse;
        }
    
        &__image {
            padding-top: 100%;
            background-position: center;
            background-size: cover;
        }

        &__box {
            padding-top: 100%;
        }

        &__description {
            display: none;
        }

        &__name {
            position: absolute;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            width: 100%;
            padding: 50px;

            @media (max-width: 767px) {
                padding: 20px;
            }

            h2 {
                font-style: italic;
                font-size: 2em;
                font-weight: 300;
                text-align: center;
                margin-bottom: 25px;

                @media (max-width: 1400px) {
                    font-size: 1.75em;
                }

                @media (max-width: 991px) {
                    font-size: 1em;
                } 

                @media (max-width: 575px) {
                    font-size: 2em;
                }

                @media (max-width: 500px) {
                    font-size: 1.5em;
                }

                @media (max-width: 400px) {
                    font-size: 1em;
                }
            }
        }

        &__button {
            @media (max-width: 991px) {
                font-size: 0.5em;
            }

            @media (max-width: 575px) {
                font-size: 1em;
            }

            @media (max-width: 500px) {
                font-size: 0.75em;
            }

            @media (max-width: 400px) {
                font-size: 0.5em;
            }
        }

        &__content {
            display: none;
        }
    }
}
